:root {
    --backgrond: #000;
    --text-color: #FFF;
    --button: #8257E5;
    --border: #29292E;
    --border-menu-mobile: #A8A8B3;
    --text-color-menu-mobile: #E1E1E6;
  }

*{
    background: var(--backgrond);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Manrope", Arial, Helvetica, sans-serif;
    color: var(--text-color);
    text-decoration: none;
    text-align: center;
}

.header {
    
}

.nav-img-mobile {
    display: none;
}

body{
    height: 100%;
}

.navbar{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;

}

.navmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
}

li{
    text-align: center;
    position:relative;
    float:left;
}

.btn {
    
}

.code{
    text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button), -1px 1px 0 var(--button), 1px 1px 0 var(--button);
    color: #000;
}

a:hover{
    color: var(--button);
}

.burger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

@media(max-width:768px){
    .nav-img-mobile{
        display: block;
    }
    .nav-img-desktop{
        display: none;
    }
    .burger{
        display: block;
    }

    .burger.active .bar:nth-child(2){
        opacity: 0;
    }

    .burger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .burger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .navmenu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: var(--border-menu-mobile);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px 0;
    }

    .navmenu.active{
        left: 0;
    }
}