:root {
    --backgrond: #000;
    --text-color: #FFF;
    --button: #8257E5;
    --border: #29292E;
    --border-menu-mobile: #A8A8B3;
    --text-color-menu-mobile: #E1E1E6;
}

.code{
    text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button), -1px 1px 0 var(--button), 1px 1px 0 var(--button);
    color: #050000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: var(--backgrond);
    font-family: "Manrope";
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    background-image: url("./assets/blur-mobile.png");
    background-repeat: no-repeat;
    background-size: 100% 250px;
    background-position: bottom;
    min-height: 100vh; /* utiliza a tela inteira independente do tamanho*/
}

.header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--border) 1px solid;
    flex-wrap: wrap;
    margin: 0 auto;
}

.logo {
    display: flex;
    width: 200px;
    height: 50px;
    background-image: url("./assets/logo-mobile.svg");
    background-repeat: no-repeat;
    margin: 0;
    margin-top: 15px;
    margin-left: 5px;
    justify-content: flex-start;
}

.coffe-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
}

.coffe-button .button {
    color: var(--text-color);
    border-radius: 6px;
    border: 2px solid var(--button);
    background-color: transparent;
    height: 37px;
    width: 172px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.coffe-button.head {
    display: none;
}

.coffe-button.main {
    margin: auto;
}

.maior {
    padding-left: 3px;
}

.navbar {
    min-width: 95px;
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    justify-content: center;
}

.navmenu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: left;
    transition: 0.3s;
    background-color: var(--backgrond);
}

.nav-item{
    padding: 20px;
    border-bottom: var(--border) 1px solid; 
    display: block;
}

.navbar ul :hover {
    border-left: var(--button) 4px solid;
}

.navbar li :hover {
    border: none;
}

.navmenu.active{
    left: 0;
    width: 100%;
    opacity: 1;
    height: 100vh;
}   

.navbar a {
    color: var(--text-color-menu-mobile);
}

.navbar a:hover {
    color: var(--text-color);
}

.hamburger {
    background-image: url("./assets/menu-buguer-open.svg");
    background-repeat: no-repeat;
    display: block;
    text-align: left;
    padding: 10px;
    cursor: pointer;
}

.hamburger.active {
    background-image: url("./assets/menu-buguer-close.svg");
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.coffe-img {
    width: 100%;
    overflow: clip;
}

.great {
    font-weight: bold;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 120px 0 60px;
}

.mobile-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 70px;
}

@media (min-width: 600px) {

    .mobile-text {
        display:none;
    }

    .coffe-button.main{
        display: none;
    }

    .coffe-button.head {
        display: flex;
        justify-content: space-around;
    }

    body {
        background-image: url("./assets/blur-1.png"), url("./assets/blur-2.png");
        background-position: bottom left, top right;
        background-repeat: no-repeat, no-repeat;
        background-size: 600px 600px, 600px 600px;
    }

    .logo {
        background-image: url("./assets/logo-desktop.svg");
        width: 50px;
        height: 50px;
        margin: 0;
        margin-top: 16px;
        margin-left: 5px;
    }

    .hamburger{
        display: none;
    }

    .navbar {
        gap: 35px;
    }

    .header {
        border-bottom: none;
        display: flex;
        height: auto;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        align-content: space-between;
        gap: 35px;
    }

    .navmenu {
        position: static;
        left: 0;
        display: flex;
        flex-direction: row;
        background-color: transparent;
        align-items: center;
        list-style: none;
        flex-wrap: wrap;
        gap: 35px;
    }

    .nav-item{
        padding: 0px;
        border-bottom: transparent; 
        display: flex;
    }

    .navbar ul :hover {
        border: none;
        padding: 0;
    }

    .navbar a:hover {
        color: var(--button);
    }
}